/* regole generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

a{
  text-decoration: none;
}

.spazio-sinistra{
  padding-left: 5%;
  padding-right: 5%;
}

/* parte intestazione header */
header{
  background-image: url('img/sfondo-1.jpg');
  background-size: cover;
  padding: 20px 100px 20px 100px;;
}

#barra-navigazione{
  float: left;
  width: 60%;
}

#barra-navigazione li{
  display: inline-block;
}

#barra-navigazione img{
  padding-right: 40px;
}


#navigazione-up a{
  color: white;
  padding-right: 10px;
  font-size: 11px;
  font-weight: bold;
}

#barra-navigazione .orange:hover{
  color: orange;
}

#login{
  float: right;
  width: 35%;
  padding-top: 20px;
}

#login button{
  padding: 5px 10px;
  font-size: 11px;
  font-weight: bold;
  border-radius: 5px;
  color: white;
}

#login a{
  opacity: 0.6;
}

#login :nth-child(3){
  background-color: #7fb802;
  border-color: #7fb802;
}

#login :nth-child(2){
  border-color: lightblue;
  background: none;
}

#navigazione-up::after{
  content: "";
  display: table;
  clear: both;
}

#titolo-pulsante{
  margin-bottom: 10%;
}

#titolo-pulsante h1{
  font-size: 50px;
  color: white;
  margin-top: 10%;
  margin-right: 30%;
  margin-bottom: 30px;
}

#titolo-pulsante button{
  background-color: #7fb802;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
  color: white;
  border-color: #7fb802;
}

/* corpo centrale pagina */
/* primo contenitore */
#titolo-sotto{
  background-color: #f9f9f9;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  line-height: 1.5;
}

#titolo-sotto h3{
  font-size: 30px;
  font-weight: lighter;
}

#titolo-sotto h4{
  font-size: 20px;
  font-weight: lighter;
  color: #999;
}

/* secondo div primo contenitore */
#container-sezioni-img{
  margin-top: 30px;
  margin-bottom: 50px;
  border-bottom: solid 1px #999;
  padding-bottom: 50px;
}

.immagine-commentata{
  float: left;
  width: 33%;
  text-align: center;
  line-height: 1.5;
  padding-right: 20px;
  padding-left: 20px;
}

.titolo-verde{
  height: 90px;
}

.titolo-verde h4{
  font-weight: normal;
  color: #7fb802;
  font-size: 25px;
}

.immagine-commentata p{
  color: #999;
  font-size: 15px;
  font-weight: lighter;
}

.img-blocco2{
  height: 200px;
}

#container-sezioni-img::after{
  content: "";
  display: table;
  clear: both;
}

/* secondo contenitore uguale a quarto*/

.immagine-sin{
  float: left;
  width: 50%;
}

.paragrafo-destra{
  float: left;
  width: 50%;
  padding: 50px;
}

.immagine-paragrafoleft::after{
  content: "";
  display: table;
  clear: both;
}

.paragrafo-destra h4{
  font-size: 30px;
  line-height: 1.5;
  font-weight: normal;
  margin-bottom: 20px;
}

.paragrafo-destra p{
  font-size: 15px;
  line-height: 1.5;
  font-weight: normal;
  margin-bottom: 20px;
  color: #999;
}

.paragrafo-destra a{
  font-size: 15px;
  color: lightblue;
  text-decoration: underline;
}

/* terzo contenitore */
#seleziona-piano{
  background-color: #f9f9f9;
  padding: 40px 100px;
  color: #4a4a4a;
}

#sec1{
  float: left;
  width: 50%;
  height: 50px;
  line-height: 50px;
}

#sec1 h2{
  font-size: 30px;
}

#sec2{
  float: left;
  width: 50%;
  height: 50px;
  line-height: 50px;
}

#sec2 span{
  font-size: 30px;
  color: #999;
  margin-right: 30px;
}

#sec2 select{
  background: none;
  border: none;
  border-bottom: solid 2px grey;
  margin-right: 30px;
  padding: 0px 60px;
  font-size: 20px;
  color: #999;
}

#sec2 button{
  border: none;
  background-color: #7fb802;
  color: white;
  padding: 10px 15px;
  font-size: 15px;
  border-radius: 5px;
}

#seleziona-piano::after{
  content: "";
  display: table;
  clear: both;
}

/* quarto contenitore */
#lezioni-one-to-one{
  float: left;
  width: 50%;
  /* debug */
  height: 80px;
  background-color: black;
  /* fine debug */
}

#call{
  float: left;
  width: 50%;
  /* debug */
  height: 80px;
  background-color: lightblue;
  /* fine debug */
}

#one-to-one::after{
  content: "";
  display: table;
  clear: both;
}

/* sesto contenitore */
#pc-24h{
  /* debug */
  height: 80px;
  background-color: yellow;
  /* fine debug */
}

/* settimo contenitore */

#inglese-azienda{
  /* debug */
  height: 80px;
  background-color: white;
  /* fine debug */
}

/* ottavo contenitore */
#struttura-piano h3{
  /* debug */
  height: 50px;
  border: solid 1px red;
  /* fine debug */
}

.studente-prof-azienda{
  float: left;
  width: 33%;
  /* debug */
  height: 80px;
  border: solid 1px black;
  /* fine debug */
}

#struttura-piano::after{
  content: "";
  display: table;
  clear: both;
}

/* piè di pagina */
footer{
  /* debug */
  height: 150px;
  background-color: pink;
  /* fine debug */
}

#faqs{
  /* debug */
  height: 50px;
  background-color: purple;
    /* fine debug */
}

#fondo-pagina::after{
  content: "";
  display: table;
  clear: both;
}

.dati{
  float: left;
  width: 50%;
  /* debug */
  height: 100px;
  border: solid 1px black;
  /* fine debug */
}
