/* regole generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}
/* parte intestazione header */
header{
  background-image: url('img/sfondo-1.jpg');
  background-size: cover;
  padding: 20px 100px 20px 100px;;
}

#barra-navigazione{
  float: left;
  width: 60%;
}

#barra-navigazione li{
  display: inline-block;
}

#barra-navigazione img{
  padding-right: 40px;
}

#navigazione-up a{
  color: white;
  padding-right: 10px;
  padding-bottom: 10px;
  font-size: 11px;
  font-weight: bold;
}

#barra-navigazione .orange:hover{
  color: orange;
}

#login{
  float: right;
  width: 35%;
  padding-top: 20px;
}

#login button{
  padding: 5px 10px;
  font-size: 11px;
  font-weight: bold;
  border-radius: 5px;
  color: white;
}

#login a{
  opacity: 0.6;
}

#login :nth-child(3){
  background-color: #7fb802;
  border-color: #7fb802;
}

#login :nth-child(2){
  border-color: blue;
}

#navigazione-up::after{
  content: "";
  display: table;
  clear: both;
}

#titolo-pulsante{
  margin-bottom: 10%;
}

#titolo-pulsante h1{
  font-size: 50px;
  color: white;
  margin-top: 10%;
  margin-right: 30%;
  margin-bottom: 30px;
}

#titolo-pulsante button{
  background-color: #7fb802;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 5px;
  color: white;
  border-color: #7fb802;
}

/* corpo centrale pagina */
/* primo contenitore */
#titolo-sotto{
  background-color: #f9f9f9;
}

.immagine-commentata{
  float: left;
  width: 33%;
  /* debug */
  height: 60px;
  border: solid 1px black;
  /* fine debug */
}

#container-sezioni-img::after{
  content: "";
  display: table;
  clear: both;
}

/* secondo contenitore uguale a quarto*/
.immagine-sin{
  float: left;
  width: 50%;
  /* debug */
  height: 80px;
  background-color: blue;
  /* fine debug */
}

.paragrafo-destra{
  float: left;
  width: 50%;
  /* debug */
  height: 80px;
  background-color: red;
  /* fine debug */
}

.immagine-paragrafoleft::after{
  content: "";
  display: table;
  clear: both;
}

/* terzo contenitore */
#lezioni-one-to-one{
  float: left;
  width: 50%;
  /* debug */
  height: 80px;
  background-color: black;
  /* fine debug */
}

#call{
  float: left;
  width: 50%;
  /* debug */
  height: 80px;
  background-color: lightblue;
  /* fine debug */
}

#one-to-one::after{
  content: "";
  display: table;
  clear: both;
}

/* quinto contenitore */
#pc-24h{
  /* debug */
  height: 80px;
  background-color: yellow;
  /* fine debug */
}

/* sesto contenitore */

#inglese-azienda{
  /* debug */
  height: 80px;
  background-color: white;
  /* fine debug */
}

/* settimo contenitore */
#struttura-piano h3{
  /* debug */
  height: 50px;
  border: solid 1px red;
  /* fine debug */
}

.studente-prof-azienda{
  float: left;
  width: 33%;
  /* debug */
  height: 80px;
  border: solid 1px black;
  /* fine debug */
}

#struttura-piano::after{
  content: "";
  display: table;
  clear: both;
}

/* piè di pagina */
footer{
  /* debug */
  height: 150px;
  background-color: pink;
  /* fine debug */
}

#faqs{
  /* debug */
  height: 50px;
  background-color: purple;
    /* fine debug */
}

#fondo-pagina::after{
  content: "";
  display: table;
  clear: both;
}

.dati{
  float: left;
  width: 50%;
  /* debug */
  height: 100px;
  border: solid 1px black;
  /* fine debug */
}
